/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lato|Roboto|Source+Sans+Pro");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%; }

body {
  height: 100%;
  font-family: Verdana, Helvetica, sans-serif;
  color: #888;
  overflow: hidden; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: scroll; }

.charts-list {
  width: 952px;
  height: 238px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 952px) {
    .charts-list {
      left: 0;
      -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
      margin: 0 25px;
      width: 975px; } }
  .charts-list .chart {
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    border-bottom: 2px solid #E2E2E2;
    float: left;
    width: 266px;
    height: 235px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 39px;
    margin-right: 38px;
    position: relative;
    letter-spacing: 0;
    background-position: center 32px;
    background-repeat: no-repeat;
    background-image: url(../images/chart-b.jpg); }
    .charts-list .chart:first-child {
      margin-left: 0;
      background-image: url(../images/chart-a.jpg); }
    .charts-list .chart:last-child {
      background-image: url(../images/chart-c.jpg);
      margin-right: 0;
      margin-left: 33px; }
    .charts-list .chart .chart-svg {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      top: 24px; }
    .charts-list .chart .label, .charts-list .chart .value {
      position: absolute;
      width: 100%;
      text-transform: uppercase;
      text-align: center; }
    .charts-list .chart .label {
      top: 72px;
      font-size: 18px;
      line-height: 18px;
      font-weight: 600;
      letter-spacing: 1px;
      color: #BEBEBE; }
    .charts-list .chart .value {
      top: 92px;
      font-size: 24px;
      line-height: 24px;
      font-weight: 600;
      color: #373737; }
    .charts-list .chart .details .label {
      left: 0;
      top: 185px;
      text-transform: capitalize;
      font-size: 14px;
      font-weight: bold; }
    .charts-list .chart .details .value {
      left: 0;
      top: 202px;
      text-transform: capitalize;
      font-size: 15px;
      color: #BEBEBE; }
      .charts-list .chart .details .value .percent {
        padding-right: 10px;
        color: #838383; }
    .charts-list .chart .details .left .label {
      text-align: left; }
    .charts-list .chart .details .left .value {
      text-align: left; }
    .charts-list .chart .details .right .label {
      text-align: right; }
    .charts-list .chart .details .right .value {
      text-align: right; }
