html {
	height: 100%;
}

body {
	height: 100%;
	font-family: Verdana, Helvetica, sans-serif;
	color: #888;
	overflow: hidden;
}

.wrapper {
	width: 100%;
	height: 100%;
  position: relative;
	overflow-x: scroll;
}
