@mixin centralize() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin centralizeVertically() {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
