.charts-list {
  width: 952px;
  height: 238px;
  box-sizing: border-box;
  @include centralize();

  @media only screen and (max-width: 952px) {
    left: 0;
    transform: translate(0%, -50%);
    margin: 0 25px;
    width: 975px;
  }

  .chart {
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    border-bottom: 2px solid $border-bottom-color;
    float: left;
    width: 266px;
    height: 235px;
    box-sizing: border-box;
    margin-left: 39px;
    margin-right: 38px;
    position: relative;
    letter-spacing: 0;
    background-position: center 32px;
    background-repeat: no-repeat;
    background-image: url(../images/chart-b.jpg);

    &:first-child {
      margin-left: 0;
      background-image: url(../images/chart-a.jpg);
    }
    &:last-child {
      background-image: url(../images/chart-c.jpg);
      margin-right: 0;
      margin-left: 33px;
    }

    .chart-svg {
      @include centralizeVertically();
      top: 24px;
    }

    .label, .value {
      position: absolute;
      width: 100%;
      text-transform: uppercase;
      text-align: center;
    }

    .label {
      top: 72px;
      font-size: 18px;
      line-height: 18px;
      font-weight: 600;
      letter-spacing: 1px;
      color: $label-color;
    }
    .value {
      top: 92px;
      font-size: 24px;
      line-height: 24px;
      font-weight: 600;
      color: $value-color;
    }

    .details {
      .label {
        left: 0;
        top: 185px;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: bold;
      }
      .value {
        left: 0;
        top: 202px;
        text-transform: capitalize;
        font-size: 15px;
        color: $label-color;

        .percent {
          padding-right: 10px;
          color: $percent-color;
        }
      }

      .left {
        .label {
          text-align: left;
        }
        .value {
          text-align: left;
        }
      }

      .right {
        .label {
          text-align: right;
        }
        .value {
          text-align: right;
        }
      }

    }

  }

}
